body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.drawing-container {
    border: 2px solid #000;
    padding: 10px;
    background-color: #fff;
}

#drawingCanvas {
    width: 800px;
    height: 600px;
    cursor: crosshair;
    display: block; /* Prevents margin issues */
    background-color: #ffffff;
}
.top-nav {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.top-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.top-nav li {
    margin-right: 20px; /* Space between menu items */
}

.top-nav a {
    text-decoration: none;
    color: white; /* Adjust color as needed */
    font-size: 16px; /* Adjust font size as needed */
    text-transform: uppercase; /* Optional styling */
}

.top-nav a:hover {
    color: #CCCCCC; /* Color change on hover */
}
