body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

#landing {
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#landing h1 {
  font-size: 10em;
  font-weight: bold;
  color: #6c757d;
  text-shadow: 4px 4px white;
}

#about, #talent {
  height: 100vh;
  padding: 50px;
  box-sizing: border-box;
}

#about {
  background-color: lightgrey;
}

#talent {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pyramid {
  text-align: center;
}

.tier {
  display: flex;
  justify-content: center;
}

.top .content, .bottom .content {
  margin: 15px;
}

.content img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 8px;
}

.bottom {
  margin-top: -30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bottom .content {
  flex-basis: 45%;
}

@media (max-width: 600px) {
  .tier.bottom {
    flex-direction: column;
  }
  .bottom .content {
    flex-basis: 100%;
  }
}
